[Unit]
Description=Run git pull every 10 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Persistent=true
Unit=git_pull.service

[Install]
WantedBy=timers.target

