[Unit]
Description=Run webserver for webhook.

[Service]
User=root
WorkingDirectory=/home/yoshi/
ExecStart=/home/yoshi/git/PI5/dev/webhook/target/release/webhook
Restart=always
Environment="TS_IP=100.125.46.39"
Environment="TS_PORT=5000"
Environment="SCRIPT_PATH=/home/yoshi/git/PI5/bin/git_pull.sh"

[Install]
WantedBy=multi-user.target
