html {
    background-color: #000000;
}

/* Top nav
////////////////////////////////////*/
.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border-left: 10px solid #1DCD9F;
  border-radius: 0px;
  background-color: black;
}

.topnav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  font-family: monospace;
}

/* System stats bar
////////////////////////////////////*/
h3 {
  width: 30px;
  font-size: 12;
  font-family: monospace;
  color: white;
  text-align: right;
  padding-right: 10px;
}

.system_stats {
  border-left: 10px solid #37373E;
  margin: 20px 0;
  padding: 10px 10px;
}

.bar {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 10px 0;
}

.block {
  width: 12px;            
  height: 12px; 
  background-color: #37353E;
}

.block.active {
  background-color: #D3DAD9;
}
